@mixin Title($fontSize) {
    font-weight: 600;
    font-size: $fontSize;
    border-left: 1px solid var(--color-grey-15);
    border-right: 1px solid var(--color-grey-15);
}

@mixin List() {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-grey-15);
}

@mixin Item($width, $paddingVertical, $paddingGorizontal) {
    width: $width;
    padding: $paddingVertical $paddingGorizontal;
}

@mixin ItemData() {
    display: flex;
    align-items: end;
    column-gap: 14px;
}

@mixin ItemNumber($fontSize) {
    font-size: $fontSize;
    font-weight: 600;
    color: var(--color-green-80);
    line-height: 1;
}

@mixin ItemTitle($fontSize) {
    width: 100%;
    font-size: $fontSize;
    font-weight: 600;
    color: var(--color-green-80);
    border-bottom: 1px solid var(--color-grey-15);
}

@mixin ItemDesc($marginTop, $fontSize) {
    margin-top: $marginTop;
    font-family: var(--second-family);
    font-size: $fontSize;
    color: var(--color-grey-60);
}

@media screen and (min-width: 1441px) {
    .about-story {
        .container {
            padding: 0 160px;
        }

        &__title {
            padding: 100px 0 100px 50px;
            @include Title(3.222em);
        }

        &__list {
            @include List();
        }

        &__item {
            @include Item(50%, 100px, 50px);

            &:nth-child(odd) {
                border-right: 1px solid var(--color-grey-15);
            }

            &:not(:nth-last-child(-n-2)) {
                border-bottom: 1px solid var(--color-grey-15);
            }

            &-data {
                @include ItemData();
            }

            &-number {
                @include ItemNumber(8.333em);
            }

            &-title {
                padding: 0 0 26px 10px;
                @include ItemTitle(2.111em);
            }

            &-desc {
                @include ItemDesc(50px, 1em);
            }
        }
    }
}

@media screen and (max-width: 1440px) and (min-width: 390px) {
    .about-story {
        .container {
            padding: 0 80px;
        }

        &__title {
            padding: 80px 0 80px 50px;
            @include Title(2.667em);

        }

        &__list {
            @include List();
        }

        &__item {
            @include Item(50%, 80px, 40px);

            &:nth-child(odd) {
                border-right: 1px solid var(--color-grey-15);
            }

            &:not(:nth-last-child(-n-2)) {
                border-bottom: 1px solid var(--color-grey-15);
            }

            &-data {
                @include ItemData();
            }

            &-number {
                @include ItemNumber(6.667em);

            }

            &-title {
                @include ItemTitle(1.444em);
                padding: 0 0 20px 10px;
              
            }

            &-desc {
                margin-top: 40px;
                font-family: var(--second-family);
                color: var(--color-grey-60);
                font-size: 0.888em;

                @include ItemDesc(40px, 0.888em);
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .about-story {
        .container {
            padding: 0 15px;
        }

        &__title {
            padding: 40px 0 40px 24px;
            border-top: 1px solid var(--color-grey-15);
            @include Title(2.111em);

        }

        &__list {
            @include List();
        }

        &__item {
            @include Item(100%, 40px, 24px);

            &:not(:nth-last-child(-n-2)) {
                border-bottom: 1px solid var(--color-grey-15);
            }

            &-data {
                @include ItemData();
            }

            &-number {
                @include ItemNumber(4.444em);
            }

            &-title {
                padding: 0 0 14px 10px;
                @include ItemTitle(1.222em);
            }

            &-desc {
                @include ItemDesc(30px, 0.777em);
            }
        }
    }
}

