@mixin contactFormContainer($gorizontal) {
    padding: 0 $gorizontal;
    border: 1px solid var(--color-grey-15);
}

@mixin formDivide($columnGap) {
    display: flex;
    justify-content: center;
    column-gap: $columnGap;
}

@mixin formBox($width, $rowGap, $paddingVertical, $paddingGorizontal, $borderRadius) {
    width: $width;
    display: flex;
    flex-direction: column;
    row-gap: $rowGap;
    padding: $paddingVertical $paddingGorizontal;
    border-radius: $borderRadius;
    background: rgba(36, 36, 36, 0.5);
}

@mixin titleContent($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin boxInput($paddingBottom) {
    all: unset;
    width: 100%;
    padding-bottom: $paddingBottom;
    border-bottom: 1px solid var(--color-grey-20);
    color: var(--color-grey-40);
}

@mixin formBlock($marginTop) {
    display: flex;
    justify-content: center;
    margin-top: $marginTop;
}

@mixin formBlockContainer($width, $padding, $borderRadius) {
    width: $width;
    padding: $padding;
    border-radius: $borderRadius;
    background: rgba(36, 36, 36, 0.5);
}

@mixin budgetDesc($marginTop, $color) {
    margin-top: $marginTop;
    color: $color;
}

@mixin messageArea($marginTop, $fontSize) {
    resize: none;
    overflow: hidden;
    -moz-appearance: none;
    outline: 0px none transparent;
    margin-top: $marginTop;
    width: 100%;
    font-size: $fontSize;
    color: var(--color-grey-40);
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-grey-15);
}

@mixin messageUnderline($marginTop) {
    margin-top: $marginTop;
    border-bottom: 1px solid var(--color-grey-15);
}

@mixin submitButton($paddingVertical, $paddingGorizontal, $borderRadius, $fontSize) {
    padding: $paddingVertical $paddingGorizontal;
    background-color: var(--color-green-50);

    outline: none;
    border: 0;
    border-radius: $borderRadius;

    font-size: $fontSize;
    font-weight: 500;
    color: var(--color-grey-10);
}

@media screen and (min-width: 1441px) {
    .contact-form {
        padding: 0 160px;
        .container {
            @include contactFormContainer(270px);
        }
    }
    
    .form {
        padding: 80px;
        border-right: 1px solid var(--color-grey-15);
        border-left: 1px solid var(--color-grey-15);
        &__divide {
            @include formDivide(40px);
        }
    
        &__box {
            @include formBox(430px, 20px, 24px, 40px, 8px);

            &-title {
                @include titleContent(1.222em, 500);
            }
    
            &-input {
                @include boxInput(6px);
            }
        }

        &__contact {
            @include formBlock(40px);

            &-container {
                @include formBlockContainer(900px, 40px, 12px);
            }

            &-title {
                @include titleContent(1.222em, 500);
            }
        }

        &__checkboxes {
            margin-top: 40px;

            &-col {
                display: flex;
                column-gap: 20px;
            }

            &-row {
                width: 44.4%;
            }

            &-checkbox {
                margin-right: 10px;
            }

            &-checkbox:checked, 
            &-checkbox:not(:checked) {
                position: absolute;
                left: -9999px;
            }

            &-checkbox:checked + &-label, 
            &-checkbox:not(:checked) + &-label {
                display: inline-block;
                position: relative;
                padding-left: 28px;
                line-height: 20px;
                cursor: pointer;
            }

            &-checkbox:checked + &-label:before, 
            &-checkbox:not(:checked) + &-label:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                width: 18px;
                height: 18px;
                border: 1px solid var(--color-grey-20);
                background-color: var(--color-grey-15);
            }

            &-checkbox:checked + &-label:before, 
            &-checkbox:not(:checked) + &-label:before {
                border-radius: 2px;
            }

            &-checkbox:checked + &-label:after, 
            &-checkbox:not(:checked) + &-label:after {
                content: "";
                position: absolute;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            &-checkbox:checked + &-label:after, 
            &-checkbox:not(:checked) + &-label:after {
                left: 3px;
                top: 4px;
                width: 11px;
                height: 10px;
                background-image: url('./icons/check-mark.svg');
                background-repeat: no-repeat;
            }

            &-checkbox:not(:checked) + &-label:after {
                opacity: 0;
            }

            &-checkbox:checked + &-label:after {
                opacity: 1;
            }

            &-label {
                color: var(--color-green-99);
            }
        }

        &__budget {
            @include formBlock(40px);


            &-container {
                @include formBlockContainer(900px, 40px, 12px);
            }

            &-title {
                @include titleContent(1.222em, 500);
            }

            &-desc {
                @include budgetDesc(14px, var(--color-grey-90));
            }

            &-indicate {
                margin-top: 40px;
            }

            &-range {
                width: 100%;
            }
        }

        &__message {
            @include formBlock(40px);

            &-container {
                @include formBlockContainer(900px, 24px, 8px);
                padding: 24px 40px;
            }

            &-title {
                @include titleContent(1.222em, 500);
            }

            &-area {
                @include messageArea(20px, 1em);
            }

            &-underline {
                @include messageUnderline(40px);
            }
        }

        &__submit {
            @include formBlock(40px);

            &-button {
                @include submitButton(18px, 44px, 8px, 1em);
            }
        }
    }
}

@media screen and (max-width: 1440px) and (min-width: 390px) {
    .contact-form {
        padding: 80px;
        .container {
            @include contactFormContainer(215px);
        }
    }
    
    .form {
        padding: 60px;
        border-right: 1px solid var(--color-grey-15);
        border-left: 1px solid var(--color-grey-15);
        &__divide {
            @include formDivide(30px);
        }
    
        &__box {
            @include formBox(100%, 16px, 20px, 30px, 6px);

            &-title {
                @include titleContent(1em, 500);
            }
    
            &-input {
                @include boxInput(5px);
            }
        }

        &__contact {
            @include formBlock(30px);

            &-container {
                @include formBlockContainer(100%, 30px, 8px);
            }

            &-title {
                @include titleContent(1em, 500);
            }
        }

        &__checkboxes {
            margin-top: 30px;

            &-col {
                display: flex;
                column-gap: 20px;
            }

            &-row {
                width: 44.4%;
            }

            &-checkbox {
                margin-right: 10px;
            }

            &-label {
                color: var(--color-green-99);
                font-size: 0.888em;
            }

            &-checkbox:checked, 
            &-checkbox:not(:checked) {
                position: absolute;
                left: -9999px;
            }

            &-checkbox:checked + &-label, 
            &-checkbox:not(:checked) + &-label {
                display: inline-block;
                position: relative;
                padding-left: 28px;
                line-height: 20px;
                cursor: pointer;
            }

            &-checkbox:checked + &-label:before, 
            &-checkbox:not(:checked) + &-label:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                width: 18px;
                height: 18px;
                border: 1px solid var(--color-grey-20);
                background-color: var(--color-grey-15);
            }

            &-checkbox:checked + &-label:before, 
            &-checkbox:not(:checked) + &-label:before {
                border-radius: 2px;
            }

            &-checkbox:checked + &-label:after, 
            &-checkbox:not(:checked) + &-label:after {
                content: "";
                position: absolute;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            &-checkbox:checked + &-label:after, 
            &-checkbox:not(:checked) + &-label:after {
                left: 3px;
                top: 4px;
                width: 11px;
                height: 10px;
                background-image: url('./icons/check-mark.svg');
                background-repeat: no-repeat;
            }

            &-checkbox:not(:checked) + &-label:after {
                opacity: 0;
            }

            &-checkbox:checked + &-label:after {
                opacity: 1;
            }
        }

        &__budget {
            @include formBlock(30px);


            &-container {
                @include formBlockContainer(725px, 30px, 8px);
            }

            &-title {
                @include titleContent(1em, 500);
            }

            &-desc {
                @include budgetDesc(14px, var(--color-grey-90));
            }

            &-indicate {
                margin-top: 30px;
            }

            &-range {
                width: 100%;
            }
        }

        &__message {
            @include formBlock(30px);

            &-container {
                @include formBlockContainer(725px, 20px, 6px);
                padding: 20px 30px;
            }

            &-title {
                @include titleContent(1em, 500);
            }

            &-area {
                @include messageArea(20px, 0.888em);
            }

            &-underline {
                @include messageUnderline(40px);
            }
        }

        &__submit {
            @include formBlock(30px);

            &-button {
                @include submitButton(14px, 36px, 6px, 0.777em);
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .contact-form {
        padding: 0 15px;
        .container {
            @include contactFormContainer(0px);
        }
    }
    
    .form {
        padding: 24px;
        border-right: 1px solid var(--color-grey-15);
        border-left: 1px solid var(--color-grey-15);
        &__divide {
            @include formDivide(30px);
            flex-direction: column;
            row-gap: 30px;
        }
    
        &__box {
            @include formBox(100%, 14px, 20px, 30px, 6px);

            &-title {
                @include titleContent(0.888em, 500);
            }
    
            &-input {
                @include boxInput(5px);
                font-size: 0.888em;
            }
        }

        &__contact {
            @include formBlock(30px);

            &-container {
                @include formBlockContainer(100%, 30px, 8px);
            }

            &-title {
                @include titleContent(0.888em, 500);
            }
        }

        &__checkboxes {
            margin-top: 30px;

            &-col {
                display: flex;

                flex-direction: column;
            }

            &-row {
                width: 100%;
            }

            &-checkbox {
                margin-right: 10px;
            }

            &-label {
                color: var(--color-green-99);
                font-size: 0.888em;
            }

            &-checkbox:checked, 
            &-checkbox:not(:checked) {
                position: absolute;
                left: -9999px;
            }

            &-checkbox:checked + &-label, 
            &-checkbox:not(:checked) + &-label {
                display: inline-block;
                position: relative;
                padding-left: 28px;
                line-height: 20px;
                cursor: pointer;
            }

            &-checkbox:checked + &-label:before, 
            &-checkbox:not(:checked) + &-label:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                width: 18px;
                height: 18px;
                border: 1px solid var(--color-grey-20);
                background-color: var(--color-grey-15);
            }

            &-checkbox:checked + &-label:before, 
            &-checkbox:not(:checked) + &-label:before {
                border-radius: 2px;
            }

            &-checkbox:checked + &-label:after, 
            &-checkbox:not(:checked) + &-label:after {
                content: "";
                position: absolute;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            &-checkbox:checked + &-label:after, 
            &-checkbox:not(:checked) + &-label:after {
                left: 3px;
                top: 4px;
                width: 11px;
                height: 10px;
                background-image: url('./icons/check-mark.svg');
                background-repeat: no-repeat;
            }

            &-checkbox:not(:checked) + &-label:after {
                opacity: 0;
            }

            &-checkbox:checked + &-label:after {
                opacity: 1;
            }
        }

        &__budget {
            @include formBlock(30px);


            &-container {
                @include formBlockContainer(725px, 30px, 8px);
            }

            &-title {
                @include titleContent(0.888em, 500);
            }

            &-desc {
                @include budgetDesc(14px, var(--color-grey-90));
                font-size: 0.777em;
            }

            &-indicate {
                margin-top: 30px;
            }

            &-range {
                width: 100%;
            }
        }

        &__message {
            @include formBlock(30px);

            &-container {
                @include formBlockContainer(725px, 20px, 6px);
                padding: 18px 24px;
            }

            &-title {
                @include titleContent(0.888em, 500);
            }

            &-area {
                @include messageArea(20px, 0.888em);
                font-size: 0.888em;
            }

            &-underline {
                @include messageUnderline(34px);
            }
        }

        &__submit {
            @include formBlock(30px);

            &-button {
                width: 100%;
                @include submitButton(14px, 36px, 6px, 0.777em);
            }
        }
    }
}