@media screen and (min-width: 1441px) {
    .today-uxuid {
        padding: 0 160px;

        .container {
            padding: 80px;
        }

        &__content {
            display: flex;
            column-gap: 40px;
        }

        &__title {
            font-weight: 500;
            font-size: 1.6667em;
            color: var(--color-grey-60);
        }

        &__text {
            margin-top: 20px;

            font-family: var(--second-family);
            color: var(--color-grey-60);
        }

        &__project {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            margin-top: 50px;
            padding: 24px 40px;
            border: 1px solid var(--color-grey-15);
            border-radius: 12px;

            background: rgba(36, 36, 36, 0.2);

            &-title {
                font-size: 1.11em;
                color: var(--color-grey-60);
                text-align: center;
                margin-right: 20px;
            }

            &-content {
                border-radius: 8px;
                padding: 14px 20px;
                background-color: var(--color-grey-15);
                font-size: 1.111em;
                text-align: center;
                margin-right: 110px;
            }

            &-button {
                border-radius: 8px;
                padding: 18px 34px;
                background-color: var(--color-green-50);
                font-weight: 500;
                text-align: center;
                color: var(--color-grey-10);
            }
        }
    }
}
@media screen and (max-width: 1440px) and (min-width: 390px) {
    .today-uxuid {
        padding: 0 80px;

        .container {
            padding: 60px;
        }

        &__content {
            display: flex;
            column-gap: 30px;
        }

        &__title {
            font-weight: 500;
            font-size: 1.33em;
            color: var(--color-grey-60);
        }

        &__text {
            margin-top: 20px;

            font-family: var(--second-family);
            color: var(--color-grey-60);
            font-size: 0.888em;
        }

        &__project {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            margin-top: 50px;
            padding: 20px 30px;
            border: 1px solid var(--color-grey-15);
            border-radius: 10px;

            background: rgba(36, 36, 36, 0.2);

            &-title {
                color: var(--color-grey-60);
                margin-right: 14px;
            }

            &-content {
                border-radius: 8px;
                padding: 14px 20px;
                background-color: var(--color-grey-15);
                font-size: 0.888em;
                margin-right: 78px;
            }

            &-button {
                border-radius: 6px;
                padding: 14px 20px;
                background-color: var(--color-green-50);
                font-weight: 500;
                font-size: 0.777em;
                color: var(--color-grey-10);
            }
        }
    }
}
@media screen and (max-width: 390px) {
    .today-uxuid {
        padding: 0 15px;

        .container {
            padding: 40px 24px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__info {
            margin-top: 24px;
            
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        &__title {
            font-weight: 500;
            font-size: 1.111em;
            text-align: center;
            color: var(--color-grey-60);
        }

        &__text {
            font-size: 0.777em;
            text-align: center;
            color: var(--color-grey-60);
        }

        &__project {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            padding: 20px;
            margin-top: 30px;
            background: rgba(36, 36, 36, 0.2);
            border-radius: 10px;
            border: 1px solid var(--color-grey-15);



            &-title {
                text-align: center;
                color: var(--color-grey-60);
            }

            &-content {
                margin-top: 14px;
                font-size: 0.888em;
                text-align: center;
                color: var(--color-white);
            }

            &-button {
                display: inline-block;
                text-align: center;
                margin-top: 20px;
                padding: 14px 20px;
                background-color: var(--color-green-50);
                color: var(--color-grey-10);
                font-size: 0.77em;
            }
        }
    }
}